<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lt.kvk.i12_2.tvakarastis">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <supports-screens
        android:normalScreens="true"
        android:largeScreens="true">


    </supports-screens>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/newkvklogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.GrupesTF"
            android:label="TF Grupes"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.TFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.DestytojaiTF"
            android:label="TF Destytojai"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.TFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.AuditorijosTF"
            android:label="TF Auditorijos"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.TFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.Fakultetai"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name="lt.kvk.i12_2.tvakarastis.About"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.Fakultetai"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.TFMenu"
            android:label="TF"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.Fakultetai"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.SMFMenu"
            android:label="SMF"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.Fakultetai"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.GrupesSMF"
            android:label="SMF Grupes"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.SMFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.SVMFMenu"
            android:label="SVMF"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.Fakultetai"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.GrupesSVMF"
            android:label="SVMF Grupes"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.SVMFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.DestytojaiSVMF"
            android:label="SVMF Destytojai"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.SVMFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.DestytojaiSMF"
            android:label="SMF Destytojai"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.SMFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.AuditorijosSMF"
            android:label="SMF Auditorijos"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.SMFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.AuditorijosSVMF"
            android:label="SVMF Auditorijos"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.SVMFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.Renginiai"
            android:label = "Kalendorius"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.Fakultetai"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>