<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meskius.attemp2">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <supports-screens
        android:normalScreens="true"
        android:largeScreens="true">

    </supports-screens>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/kvk_tvarkarastis"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GrupesTF">

        </activity>
        <activity
            android:name=".DestytojaiTF"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".AuditorijosTF"
            android:label="Auditorijos">
        </activity>
        <activity
            android:name=".AuditorijuVaizdavimasTF"
            android:label="Auditoriju vaizdavimas">
        </activity>
        <activity
            android:name=".Fakultetai"
            android:label="Tvarkarastis">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".About">

        </activity>
        <activity
            android:name=".TFMenu"
            android:label="Technologiju fakulteto menu">
        </activity>
        <activity
            android:name=".DalykaiTF"
            android:label="Dalykai">
        </activity>
        <activity
            android:name=".SMFMenu"
            android:label="SMFMenu">
        </activity>
        <activity
            android:name=".GrupesSMF"
            android:label="Grupes">
        </activity>
        <activity
            android:name=".SVMFMenu"
            android:label="SVMF">
        </activity>
        <activity
            android:name=".GrupesSVMF"
            android:label="Grupes">
        </activity>
        <activity
            android:name=".DestytojaiSVMF"
            android:label="Destytojai">
        </activity>
        <activity
            android:name=".DestytojaiSMF"
            android:label="Destytojai">
        </activity>
        <activity
            android:name=".AuditorijosSMF"
            android:label="Auditorijos">
        </activity>
        <activity
            android:name=".AuditorijosSVMF"
            android:label="Auditorijos">
        </activity>

    </application>

</manifest>