<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lt.kvk.i12_2.tvakarastis">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <supports-screens
        android:normalScreens="true"
        android:largeScreens="true">


    </supports-screens>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/newkvklogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.GrupesTF"
            android:label="TF Grupės"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.TFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.DestytojaiTF"
            android:label="TF Dėstytojai"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.TFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.AuditorijosTF"
            android:label="TF Auditorijos"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.TFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.Fakultetai"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.About"
            android:label="Apie"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.Fakultetai"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".SavedImage_Group_TF"
            android:label="Išsaugota"
            android:parentActivityName=".GrupesTF"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SavedImage_Group_VF"
            android:label="Išsaugota"
            android:parentActivityName=".GrupesVF"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SavedImage_Group_SVMF"
            android:label="Išsaugota"
            android:parentActivityName=".GrupesSVMF"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".SavedImage_Prof_TF"
            android:label="Išsaugota"
            android:parentActivityName=".DestytojaiTF"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SavedImage_Prof_VF"
            android:label="Išsaugota"
            android:parentActivityName=".DestytojaiVF"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SavedImage_Prof_SVMF"
            android:label="Išsaugota"
            android:parentActivityName=".DestytojaiSVMF"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name="lt.kvk.i12_2.tvakarastis.TFMenu"
            android:label="TF"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.Fakultetai"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.VFMenu"
            android:label="VF"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.Fakultetai"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.GrupesVF"
            android:label="VF Grupės"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.VFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.SVMFMenu"
            android:label="SVMF"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.Fakultetai"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.GrupesSVMF"
            android:label="SVMF Grupės"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.SVMFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.DestytojaiSVMF"
            android:label="SVMF Dėstytojai"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.SVMFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.DestytojaiVF"
            android:label="VF Dėstytojai"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.VFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.AuditorijosVF"
            android:label="VF Auditorijos"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.VFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.AuditorijosSVMF"
            android:label="SVMF Auditorijos"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.SVMFMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="lt.kvk.i12_2.tvakarastis.Renginiai"
            android:label = "Kalendorius"
            android:parentActivityName="lt.kvk.i12_2.tvakarastis.Fakultetai"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>